.red {
    width: 200px;
    height: 200px;
    background-color: black;
    margin-top: 1em;

}

.movendo {
    width: 100%;
    height: 50px;
}

.campoTexto {
    padding: 220px;
    font-size: 40px;

}